.parent{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 100px;
}

.parent button{
    width: 80px;
    height: 40px;
    background-color: #012bfe;
    color: #000;
    color: #fff;
    font-weight: 300;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}
p{
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.disabled{
    opacity: 0.3;
}
.selected{
    width: 35px;
    height: 35px;
    color: #fff;
    font-weight: bold;
    background-color: #012bfe;
    border: none;
}